img {
    max-width: 100%;
    max-height: 100%;
}

.cursorPiece{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    border-radius: 15%;
    /* background-color: blueviolet; */
    /* background-image: url(../assets/pixelChicken.jpg); */
    background-size: cover;
}

.cursorPiece1{
    background-image: url(../assets/grab.svg);
}

.cursorPiece2{
    background-image: url(../assets/wait.png);
}

.cursorPiece3{
    background-image: url(../assets/aoeCursor.cur);
}

.cursorPiece4{
    background-image: url(../assets/diamondSword.cur);
}

.cursorPiece5{
    background-image: url(../assets/jenny.cur);
}

.cursorPiece6{
    background-image: url(../assets/stick.cur);
}

.cursorPiece1:hover{
    cursor: grab;
}

.cursorPiece2:hover{
    cursor: wait;
}

.cursorPiece3:hover{
    cursor: url(../assets/aoeCursor.cur), pointer;
}

.cursorPiece4:hover{
    cursor: url(../assets/diamondSword.cur), pointer;
}

.cursorPiece5:hover{
    cursor: url(../assets/jenny.cur), pointer;
}

.cursorPiece6:hover{
    cursor: url(../assets/stick.cur), pointer;
}